.basictab ul{
margin: 4px;
padding: 3px 0;
margin-left: 0;
font: bold 12px Verdana;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.basictab li{
display: inline;
margin: 0;
}

.basictab li a{
text-decoration: none;
padding: 3px 7px;
margin-right: 3px;
border-bottom: none;
color: #000;
}

.basictab li a:visited{
color: #2d2b2b;
}

.basictab li a:hover, .basictab li a.current{
background-color: #DBFF6C;
color: black;
}

.basictab li a:active{
color: black;
}

.tabcontainer{
clear: left;
width:95%; /*width of 2nd level sub menus*/
height:1.5em; /*height of 2nd level sub menus. Set to largest's sub menu's height to avoid jittering.*/
}

.tabcontent{
display:none;
}
.tabcontent li{
display: inline;
margin: 0;
}

.tabcontent ul{
margin: 4px;
padding: 3px 0;
margin-left: 0;
font: bold 12px Verdana;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.tabcontent li a{
text-decoration: none;

margin-right: 3px;
border-bottom: none;
color: #fff;
}

.tabcontent li{
	padding: 25px 20px 20px 20px;
}
.tabcontent li:hover{
	background-color: #fe8101;
	padding: 25px 20px 20px 20px;
}
